################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CenterElGhlaba/UserIdentity/appsettings.json
/CenterElGhalaba/UserIdentity/appsettings.Development.json
/CenterElGhalaba/UserIdentity/bin
/CenterElGhalaba/UserIdentity/obj
/CenterElGhalaba/.vs

/CenterElGhlaba/UserIdentity/bin/Debug/net7.0
/CenterElGhlaba/.vs/Center-ElGhlaba
/CenterElGhlaba/UserIdentity/obj
*.json
/CenterElGhlaba/.vs/ProjectEvaluation/center-elghlaba.metadata.v6.1
/CenterElGhlaba/.vs/ProjectEvaluation/center-elghlaba.projects.v6.1
/CenterElGhlaba/.vs/

/CenterElGhlaba/UserIdentity/Migrations

/CenterElGhlaba/UserIdentity/wwwroot/LessonsMaterial

/CenterElGhlaba/UserIdentity/Data/Migrations/ApplicationDbContextModelSnapshot.cs
/CenterElGhlaba/UserIdentity/wwwroot/LessonsMaterial/LessonVideos/1880-VID02HTML-Headings-YouTube.mp4
/CenterElGhlaba/UserIdentity/wwwroot/LessonsMaterial/LessonVideos/1883-CSS-overview-YouTube.mp4
/CenterElGhlaba/UserIdentity/wwwroot/LessonsMaterial/LessonVideos/Motivational short video - How to succeed - cartoon.mp4
/CenterElGhlaba/UserIdentity/wwwroot/LessonsMaterial/LessonVideos/Pip _ A Short Animated Film by Southeastern Guide Dogs.mp4
