################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserIdentityProject/UserIdentity/appsettings.json
/UserIdentityProject/UserIdentity/appsettings.Development.json
/UserIdentityProject/UserIdentity/bin
/UserIdentityProject/UserIdentity/obj
/UserIdentityProject/.vs

