@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    Layout = "_IndexLayout";
}
<div class="w-75 m-auto py-3 text-center">
    <h1>@ViewData["Title"]</h1>
    <div>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>