@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_IndexLayout";
}
<div class=" p-3 text-center">
    <h1>@ViewData["Title"]</h1>
</div>


<div class=" w-75  m-auto ">
    <div class=" align-items-center text-center alert alert-danger" role="alert">
   
    Please check your email to reset your password.
    <a href="https://accounts.google.com/v3/signin/identifier?dsh=S990103131%3A1679661864636354&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ifkv=AQMjQ7R_BwIepyehctCbBeGiyN686jF2GyaumHGJVMNW2mPwRCGpf-2MNbK3Wq5sRdK8zuTZ6yUVaA&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="alert-link">Gmail</a>
    . Give it a click if you like.
</div>
</div>