@page
@using Center_ElGhalaba.Constants;
@model RegisterModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

@inject RoleManager<IdentityRole> roleManager;

@*<h1>@ViewData["Title"]</h1>*@

 <form class="form-default" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>

        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img src="/assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Create a new account.</h2>
            <div class="form-input">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" type="text" class="form-input" autocomplete="First Name" aria-required="true" placeholder="First Name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.LastName"></label>
            <input asp-for="Input.LastName" class="form-input" autocomplete="Last Name" aria-required="true" placeholder="Last Name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.Address"></label>
            <input asp-for="Input.Address" class="form-input" autocomplete="Address" aria-required="true" placeholder="Address" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" type="email" class="form-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-input">
                <div class="form-input">
                    <label asp-for="Input.Birthdate">Birth Date</label>
                    <div class="form-input">
                        <input asp-for="Input.Birthdate" class="form-input" type="date" placeholder="Birth Date" />
                    </div>
                    <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-input">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-input">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-input">
                <div class="list-group mb-3">
                @foreach (IdentityRole role in roleManager.Roles.Where(r => r.Name != RolesConsts.Admin.ToString()).OrderByDescending(r => r.Name))
                {
                    <div class="form-check">
                        <input asp-for="Input.RegistryType" type="radio" value="@role.Name" class="form-check-input" checked />
                        <label asp-for="Input.RegistryType" class="form-check-label">@role.Name</label>
                        <span asp-validation-for="Input.RegistryType" class="text-danger"></span>
                    </div>
                }
                </div>
            </div>
            <div class="form-input pt-30">
            <button class="registration" type="submit">Register</button>
            </div>
        </div>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
