@page
@model RegisterConfirmationModel
@{
    Layout = "_IndexLayout";

    ViewData["Title"] = "Register confirmation";
}
<div class="container p-3 text-center">
<h1>@ViewData["Title"]</h1>
<p>
        Please check your email to confirm your account.
</p>

</div>