@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "_IndexLayout";
}

<div class=" container">

    <div class="col-sm">
        <div class="w-50 m-auto text-center">
            <div>
                <h1>@ViewData["Title"]</h1>
                <h2>Enter your email.</h2>
            </div>
        </div>
    </div>


    <div class="col-sm">
        <div class="w-50 m-auto">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="mb-3">
                    <label asp-for="Input.Email" class="form-label text-start"></label>
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg ">Resend</button>
            </form>
        </div>
    </div>

</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    }
