@model List<Lesson>
@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Index";
}

<!-- Courses area start -->
<div class="courses-area section-padding40 fix">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Our featured courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="properties properties2 mb-30">

                     @foreach (var lesson in Model)
                    {
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                <img src="assets/img/gallery/@lesson.CoverPicture" alt="">
                            </div>
                            <div class="properties__caption">
                                <p>User Experience</p>
                                <h3><a href="#">Fundamental of UX for Application design</a></h3>
                                <p>
                                    @lesson.Description
                                </p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half"></i>
                                        </div>
                                        <p><span>(4.5)</span> based on 120</p>
                                    </div>
                                    <div class="price">
                                        <span>$@lesson.Price</span>
                                    </div>
                                </div>
                                <a asp-action="Student" asp-controller="Payment" asp-route-id="@lesson.ID" asp-route-AppUserID="" class="border-btn border-btn2">Buy</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
