@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Index";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link rel="stylesheet" href="~/assets/css/NewPagSstyle.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>

    <h3 class="heading">Upload New Video</h3>


    <div>
        <div class="selectDivs">
            <label for="stage" class="label">Select Stage:</label>
            <select name="stage" id="stage" class="select">
                <option value="prim">Primary</option>
                <option value="prep">Prepratory</option>
                <option value="sec">Secondary</option>
            </select>
        </div>
        <div class="selectDivs">
            <label for="level" class="label">Select Level:</label>
            <select name="level" id="level" class="select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="selectDivs">
            <label for="subject" class="label">Select Subject:</label>
            <select name="subject" id="subject" class="select">
                <option value="arb">Arabic</option>
                <option value="en">English</option>
                <option value="m">Math</option>
            </select>
        </div>
    </div>


    <!-- ////////////////////////////////////////////////////////////////////////// -->
    <div class="spann">
        <div class="spann">
            <div class="inputBox">
                <label for="Vtitle" class="label">Video Title:</label><br>
                <input type="text" id="Vtitle" name="Vtitle" class="inputt"><br>
            </div>
            <div class="inputBox">
                <label for="Vdescribtion" class="label">Video Describtion:</label><br>
                <input type="text" id="Vdescribtion" name="Vdescribtion" class="inputt"><br>
            </div>
            <!-- <div class="inputBox">
                <label for="Vrecourses" class="label">Video Recourses:</label><br>
                <input type="text" id="Vrecourses" name="Vrecourses" class="inputt"><br>
            </div> -->
            <div class="inputBox">
                <label for="Vprice" class="label">Video Price:</label><br>
                <input type="text" id="Vprice" name="Vprice" class="inputt"><br>

            </div>
        </div>
        <!-- ///////////////////  -->
        <div class="spann">

            <div class="inputBox">
                <label for="discount" class="label">Discount:</label><br>
                <input type="text" id="discount" name="discount" class="inputt"><br>

            </div>
            <div class="inputBox">
                <label for="Vduration" class="label">Video Duration:</label><br>
                <input type="text" id="Vduration" name="Vduration" class="inputt"><br>

            </div>
            <div class="inputBox">
                <label for="Vquiz" class="label">Video Quiz:</label><br>
                <input type="text" id="Vquiz" name="Vquiz" class="inputt"><br>
            </div>

        </div>
        <!-- ////////////////////////////////////////////////////////////////////////// -->
        <div>
            <div class="media">
                <div class="container">
                    <input type="file" id="file" accept="image/*" hidden>
                    <div class="img-area" data-img="">
                        <i class='bx bxs-cloud-upload icon'></i>
                        <h3>Upload Image</h3>
                    </div>
                    <button class="select-image">Select Video's Cover</button>
                </div>
            </div>
            <div class="media">

                <div class="videoContainer">
                    <video autoplay id="video" controls>
                        <source id="source" type="video/mp4">
                    </video>
                    <input type="file" name="file" class="videoText" onchange="selectedVeideo(this);" />

                </div>

            </div>
            <div class="section media">

                <div class="fileContainer">
                    <input type="file" id="upload" style="display: none;">
                    <label for="upload">Select Recourses:</label>
                </div>
                <button><span>&#8682; Upload</span> <span class="uploading">Uploading....</span></button>
                <button>Cancle Upload</button>
                <div class="pr">
                    <strong>
                        <h4 class="ex">PDF</h4>
                        <h5 class="size">2.5kb</h5>
                    </strong>
                    <progress min="0" max="100" value="0"></progress>
                    <span class="progress-indicator"></span>

                </div>
            </div>


        </div>
        <div>
            <button class="save">Save</button>
        </div>
        <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->
        <script>
                const selectImage = document.querySelector('.select-image');
                const inputFile = document.querySelector('#file');
                const imgArea = document.querySelector('.img-area');

            selectImage.addEventListener('click', function () {
                inputFile.click();
            })

            inputFile.addEventListener('change', function () {
                const image = this.files[0]
                if(image.size < 2000000) {
                    const reader = new FileReader();
                    reader.onload = ()=> {
                        const allImg = imgArea.querySelectorAll('img');
                        allImg.forEach(item=> item.remove());
                        const imgUrl = reader.result;
                        const img = document.createElement('img');
                        img.src = imgUrl;
                        imgArea.appendChild(img);
                        imgArea.classList.add('active');
                        imgArea.dataset.img = image.name;
                    }
                    reader.readAsDataURL(image);
                } else {
                    alert("Image size more than 2MB");
                }
            })


            function selectedVeideo(self){
                var file = self.files[0];
                var reader = new FileReader();

                reader.onload = function(e){
                    var src = e.target.result;
                    var video = document.getElementById("video");
                    var source = document.getElementById("source");

                    source.setAttribute("src",src);
                    video.load();
                    video.play();
                };
                reader.readAsDataURL(file);
            }
        </script>

