@model AdminLevelVM

@{
    SelectList stages = new(Model.Stages, "ID", "Name");
}

<form asp-action="CreateLevel" class=" p-2">
    <div class="mb-3">

        <label asp-for="StageID"></label>
        <select asp-items="@stages" asp-for="StageID" class="form-select"></select>
        <span asp-validation-for="StageID" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" class="btn btn-success" value="Add Level" />
    </div>

</form>

