@model AdminAddNewVM
@{
    ViewData["Title"] = "AddNew";
}

<partial name="index" class="mt-5"/>

<h1 class="mt-5">AddNew</h1>

<div class="container">
    <div class="d-grid">

        <partial name="_Stage" model="Model.Stage"/>
        <br />
        <hr />
        <br />
        <partial name="_Lvl" model="Model.LvlVM" />
        <br />
        <hr />
        <br />
        <partial name="_Subject" model="Model.subVm" />
    </div>
</div>

<div id="tstdv"></div>


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    <script>
        console.log("before awy ")

        $(document).ready(function(){
            console.log("before ")
            
            $("#subStage").change(function () {
                $("#subLvl").empty();
                $("#subLvl").html("")
                console.log("TST")
                $.ajax({
                    url: "/Admin/CureentStageLevel",
                    data: { "Id": $("#subStage").val() },
                    method: "POST",
                    success: function (result) {
                    console.log("From ajax")
                    $("#subLvl").empty();
                    $("#subLvl").html("")

                        $('#mySelect')
                            .find('option')
                            .remove()
                            .end()
                            .append('<option value="whatever">text</option>')
                            .val('whatever');

                    for (let item of result) {
                        console.log(item);
                        $("#subLvl").append('<option value="' + item.id + '">' + item.name + '</option>');
                    }},
                    error: function () {
                        console.log("FAILED")
                    }
                });
            })
        })
    </script>
}